---
import { getCollection } from "astro:content";
import BlogCard from "../elements/BlogCard.astro";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

---

<section class="border-bottom">
    <div class="py-5 container">
        <h2 class="pb-2 border-bottom">Latest Posts</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4 pt-5">
            <BlogCard
                title={posts[0].data.title}
				description={posts[0].data.description}
				date={posts[0].data.pubDate}
				image={posts[0].data.heroImage}
            />
            <BlogCard
                title={posts[1].data.title}
				description={posts[1].data.description}
				date={posts[1].data.pubDate}
				image={posts[1].data.heroImage}
            />
            <BlogCard
                title={posts[2].data.title}
				description={posts[2].data.description}
				date={posts[2].data.pubDate}
				image={posts[2].data.heroImage}
            />
        </div>
    </div>
</section>
