---
import Aside from "../Sidebar.astro";
import Step from "./Step.astro";
const { pathname } = Astro.url;

import { getCollection } from "astro:content";
const tutorial = pathname.split("/")[2];
const posts = (await getCollection("tutorials"))
    .sort((a, b) => {
        return a.id < b.id ? -1 : 1;
    })
    .filter((p) => p.id.includes(tutorial));
---

<Aside>
    <div
        class="mb-6 font-medium text-gray-500 bg-white rounded-lg border border-gray-200 divide-y divide-gray-200 shadow dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:divide-gray-700"
    >
        <h4
            class="p-5 pb-1 mb-4 text-sm font-bold text-gray-900 uppercase dark:text-white"
        >
            {tutorial}
        </h4>

        {
            posts.map((post, index) => (
                <Step
                    title={`${index + 1}. ${post.data.title}`}
                    description={post.data.description}
                    image={post.data.heroImage}
                    url={`/tutorials/${post.slug}`}
                    active={pathname === `/tutorials/${post.slug}`}
                />
            ))
        }
    </div>
</Aside>
