---
import Download from "../svg/Download.astro";
import Github from "../svg/Github.astro";
import { PostType } from "../../consts";

export interface Props {
    type: PostType;
    name: string;
    url: string;
    source: string;
}

const { type, name, url, source } = Astro.props;
---

<div
    class="flex justify-between sm:flex-row md:flex-col lg:flex-row lg:items-center"
>
    <span>
        By <a
            href={url}
            title={name}
            class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm ps-2 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
            role="button"
        >
            {name}
        </a>
    </span>

    {
        type === PostType.Asset && (
            <a
                href={source}
                title=""
                class="px-5 py-2.5 text-sm justify-center font-medium text-gray-900 inline-flex items-center focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                role="button"
            >
                <Download />
                <span class="ms-2">Download</span>
            </a>
        )
    }

    {
        type === PostType.Tool && (
            <a
                href={source}
                title=""
                class="px-5 py-2.5 text-sm justify-center font-medium text-gray-900 inline-flex items-center focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                role="button"
            >
                <Github />
                <span class="ms-2">View on Github</span>
            </a>
        )
    }
</div>
